.box {
    background: #3498db;
    color: aliceblue !important;
    padding: 20px;
}

#map {
    height: 800px;
    width: 100%;
    margin: 10px;
}

.bg-blue {
    background-color: #2980b9 !important;
    color: aliceblue !important;
}

.burger-menu {
    cursor: pointer;
}

.sidebar-space {
    transition: all 0.5s;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: #2c3e50;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar-container {
    display: flex;
    height: 100%;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: aliceblue;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #2980b9;
}

.sidenav a.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.responsive-text {
    font-size: 30px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

@media (max-width: 400px) {
    .responsive-text {
        font-size: 16px;
    }
    .sidebar-space {
        display: none;
    }

    .sidenav {
        height: 100%;
    }
}