{% if messag %}
<script type="text/javascript">
    alert('{{ messag }}');
</script>
{% endif %} {% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
        crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="{% static 'app.js' %}">
    </script>
    <title>MAPS</title>
</head>

<body>
    <nav style="" class="navbar navbar-light bg-blue topbar">


        <span class="responsive-text burger-menu" onclick="openNav()">&#9776; Autonomous Railways Monitoring Robot</span>

    </nav>
    <div class="sidebar-container">
        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="#">Maps</a>
            <a href="#">Streaming</a>
            <a href="#">Report</a>
            <a href="#">Logout</a>
        </div>
        <div class="container-fluid">
            <div class="container-fluid">
                {% block content %} {% endblock %}
            </div>
        </div>
        
    </div>

</body>

</html>