{% extends "base_layout.html" %} {% block content %} {% load staticfiles%}
<div class="wrapper">

    <div id="map">
        <script>
            function initMap() {
                var coord = {
                    lat: null,
                    lng: null,
                    detail: null
                };
                var position = {
                    lat: 7.7896909,
                    lng: 110.3651141
                };
                var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 5,
                    center: position
                });

                var marker = new google.maps.Marker({
                    position: null,
                    map: map
                });
                var transitLayer = new google.maps.TransitLayer();
                transitLayer.setMap(map);

                const dbRefObject = firebase.database().ref().child("data");
                dbRefObject.on('child_added', snap => {
                    coord = snap.val();
                    var latlng = new google.maps.LatLng(coord.lat, coord.lng);
                    console.log(snap.val());

                    if (coord.detail == "warning") {
                        var marker = new google.maps.Marker({
                            position: coord,
                            map: map,
                            icon: "{% static 'img/warning.png' %}"
                        });
                    } else {
                        var marker = new google.maps.Marker({
                            position: coord,
                            map: map,

                        });
                    }
                    attachSecretMessage(marker, coord.detail);
                });

                dbRefObject.on('child_changed', snap => {

                    coord = snap.val();
                    var latlng = new google.maps.LatLng(coord.lat, coord.lng);
                    console.log(snap.val());

                    if (coord.detail == "warning") {
                        var marker = new google.maps.Marker({
                            position: coord,
                            map: map,
                            icon: "{% static 'img/warning.png' %}"
                        });
                    } else {
                        var marker = new google.maps.Marker({
                            position: coord,
                            map: map
                        });
                    }
                    attachSecretMessage(marker, coord.detail);
                });
                console.log(coord);

                dbRefObject.on('child_removed', snap => {
                    coord = snap.val();
                    var latlng = new google.maps.LatLng(coord.lat, coord.lng);
                    console.log(snap.val());

                    var marker = new google.maps.Marker({
                        position: coord,
                        map: map
                    });
                    attachSecretMessage(marker, coord.detail);
                });
            }

            function attachSecretMessage(marker, secretMessage) {
                var infowindow = new google.maps.InfoWindow({
                    content: secretMessage
                });

                marker.addListener('click', function() {
                    infowindow.open(marker.get('map'), marker);
                });
            }
        </script>

        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBlWXTx0E64uXf39i16Yc4ouIS7EwT1WKY&callback=initMap">
        </script>
    </div>
</div>

{% endblock %}