{% extends "base_layout.html" %} {% block content %}
<script src="https://www.gstatic.com/firebasejs/4.13.0/firebase.js"></script>
<script>
    // Initialize Firebase
    var config = {
        apiKey: "AIzaSyC5rT7DmUVrs-dlECDMXBcfMKfE7ItHRZI",
        authDomain: "maps-1ca28.firebaseapp.com",
        databaseURL: "https://maps-1ca28.firebaseio.com",
        projectId: "maps-1ca28",
        storageBucket: "maps-1ca28.appspot.com",
        messagingSenderId: "43370329320"
    };
    firebase.initializeApp(config);
</script>
<div>
    <h3>My Google Maps Demo</h3>
</div>

<div id="map"></div>
<script>
    function initMap() {
        var uluru = {
            lat: null,
            lng: null
        };
        var position = {
            lat: -25,
            lng: 131
        };
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 4,
            center: position
        });

        var marker = new google.maps.Marker({
            position: null,
            map: map
        });
        var transitLayer = new google.maps.TransitLayer();
        transitLayer.setMap(map);

        const dbRefObject = firebase.database().ref().child("data");
        dbRefObject.on('child_added', snap => {
            uluru = snap.val();
            var latlng = new google.maps.LatLng(uluru.lat, uluru.lng);
            console.log(snap.val());
            return new google.maps.Marker({
                position: uluru,
                map: map
            });
        });

    }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBlWXTx0E64uXf39i16Yc4ouIS7EwT1WKY&callback=initMap">
</script>
{% endblock %}